body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.parent {
  min-width: 100%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  align-items: start;
}
.container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.dooz {
  width: 40vw;
  height: 75vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
}
.square {
  background-color: #c9f9fc;
  border: 5px solid black;
  border-radius: 16px;
  max-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__icon {
    width: 100px;
    height: 100px;
  }
}
.reset-button {
  padding: 4px 10px;
  background-color: green;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  width: 80px;
}

.players {
  display: flex;
  align-items: center;
  padding: 0 50px;
  justify-content: space-around;
  gap: 20px;
  &__item{
    & p{
      font-size: 20px;
    }
  }
}

