body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
}

.parent {
  min-width: 100%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dooz {
  width: 40vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
}
.square {
  background-color: #C9F9FC;
  border: 5px solid black;
  border-radius: 16px;
  max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  &__icon{
    width: 100px;
    height: 100px;
}
}
.reset-button{
  padding: 4px 10px;
  background-color: green;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  width: 80px;
}