.reset {
  flex-basis: 25%;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  &__button{
    padding: 4px 8px;
    background-color: #c9f9fc;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid black;
    display: flex;
    align-items: center;
    gap: 8px;
    & .disable{
      background-color: #ccc;
    }
}
}
.command-controls{
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}